/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: darkcyan;
  padding: 50px 0px 50px;
}

.main__container {
  width: 100%;
  margin: 0px;
}

.main__container form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.weatherContainer {
  width: 90%;

  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.weatherFirstContainer {
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.localWeatherReport,
.seaForecastReport {
  width: 47%;
  height: 100%;

  background: rgba(93, 93, 93, 0);
  background: rgba(93, 93, 93, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.localWeatherReport h1,
.seaForecastReport h1 {
  width: 90%;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  border-bottom: 2px solid white;
}
.activeWeatherContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 42px;
}
.activeContentLeft {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.activeContentLeft img {
  -webkit-filter: drop-shadow(5px 5px 5px #707070);
  filter: drop-shadow(5px 5px 5px #707070);
  height: 220px;
}
.activeContentLeft h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.activeContentRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.activeContentRight h2 {
  font-size: 35px;
  font-weight: bold;
}

.activeContentRight h4 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

.activeContentRight h3 {
  font-size: 35px;
  margin: 0px;
}

.seaForecastReport ul {
  width: 90%;

  margin: 30px auto;
}

.seaForecastReport ul li {
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.seaForecastReport ul li span {
  position: absolute;
  right: 15px;
}

.weatherSecondContainer {
  width: 100%;

  background: rgba(93, 93, 93, 0);
  background: rgba(93, 93, 93, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px;
}

.weatherFiveDaysContainer {
  width: 20%;

  height: 100%;
  margin: 20px 0;
}

.weatherFiveDaysContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.weatherFiveDaysContainer h2 {
  font-size: 20px;
}
.weatherFiveDaysContainer:nth-child(2),
.weatherFiveDaysContainer:nth-child(3),
.weatherFiveDaysContainer:nth-child(4),
.weatherFiveDaysContainer:nth-child(5),
.weatherFiveDaysContainer:nth-child(7),
.weatherFiveDaysContainer:nth-child(8),
.weatherFiveDaysContainer:nth-child(9),
.weatherFiveDaysContainer:nth-child(10),
.weatherFiveDaysContainer:nth-child(12),
.weatherFiveDaysContainer:nth-child(13),
.weatherFiveDaysContainer:nth-child(14),
.weatherFiveDaysContainer:nth-child(15) {
  border-left: 2px solid white;
}

.weatherFiveDaysContainer h4 {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 5px;
}
.weatherFiveDaysContainer h3 {
  font-weight: bold;
  font-size: 30px;
}
.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 50px;
}
.about h6 {
  color: white;
  font-size: 40px;
  text-align: center;

  font-weight: bold;
}

.about h5 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.welcome {
  position: absolute;
  top: 50%;
  font-size: 60px;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

/* Responsive */

@media (max-width: 1200px) {
  .about h6 {
    font-size: 35px;
  }
  .about h5 {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .weatherFirstContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .localWeatherReport,
  .seaForecastReport {
    width: 100%;
    margin: 0px;
  }
  .localWeatherReport {
    margin-bottom: 20px;
  }

  .weatherFiveDaysContainer {
    width: 30%;
    padding: 0px;
  }
  .weatherFiveDaysContainer:nth-child(n + 0) {
    border-left: none;
  }
  .weatherFiveDaysContainer:nth-child(2),
  .weatherFiveDaysContainer:nth-child(3),
  .weatherFiveDaysContainer:nth-child(5),
  .weatherFiveDaysContainer:nth-child(6),
  .weatherFiveDaysContainer:nth-child(8),
  .weatherFiveDaysContainer:nth-child(9),
  .weatherFiveDaysContainer:nth-child(11),
  .weatherFiveDaysContainer:nth-child(12),
  .weatherFiveDaysContainer:nth-child(14),
  .weatherFiveDaysContainer:nth-child(15) {
    border-left: 2px solid white;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 120px;
  }
  .weatherFiveDaysContainer h2 {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .weatherFiveDaysContainer {
    width: 50%;
  }

  .weatherFiveDaysContainer:nth-child(n + 0) {
    border-left: none;
  }
  .welcome {
    font-size: 30px;
  }

  .weatherFiveDaysContainer:nth-child(1),
  .weatherFiveDaysContainer:nth-child(3),
  .weatherFiveDaysContainer:nth-child(5),
  .weatherFiveDaysContainer:nth-child(7),
  .weatherFiveDaysContainer:nth-child(9),
  .weatherFiveDaysContainer:nth-child(11),
  .weatherFiveDaysContainer:nth-child(13),
  .weatherFiveDaysContainer:nth-child(15) {
    border-right: 2px solid white;
  }
}

@media (max-width: 600px) {
  .activeContentLeft img {
    height: 130px;
  }
  .activeContentRight h2 {
    font-size: 30px;
  }
  .activeContentRight h4 {
    font-size: 20px;
  }
  .activeContentRight h3 {
    font-size: 25px;
  }

  .weatherFiveDaysContainer h2 {
    font-size: 17px;
  }
  .seaForecastReport ul li {
    font-size: 14px;
  }

  .about h6 {
    font-size: 30px;
  }
  .about h5 {
    font-size: 17px;
  }
  .weatherFiveDaysContainer img {
    height: 130px;
  }
  .weatherFiveDaysContainer h3 {
    font-size: 22px;
  }
  .weatherFiveDaysContainer h4 {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .activeContentLeft img {
    height: 100px;
  }
  .activeContentRight h2 {
    font-size: 25px;
  }
  .activeContentRight h4 {
    font-size: 16px;
  }
  .activeContentRight h3 {
    font-size: 25px;
  }

  .weatherFiveDaysContainer h2 {
    font-size: 15px;
  }

  .seaForecastReport ul li {
    font-size: 13px;
  }

  .about h6 {
    font-size: 25px;
  }
  .about h5 {
    font-size: 15px;
  }
  .activeContentLeft h3 {
    font-size: 15px;
  }
  .weatherFiveDaysContainer img {
    height: 100px;
  }
  .weatherFiveDaysContainer h3 {
    font-size: 18px;
  }
  .weatherFiveDaysContainer h4 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .activeContentLeft img {
    height: 80px;
  }
  .main__container form {
    margin-bottom: 25px;
  }
  .about {
    margin-bottom: 15px;
  }
  .welcome {
    font-size: 25px;
  }

  .weatherFiveDaysContainer img {
    height: 80px;
  }
  .weatherFiveDaysContainer h2 {
    font-size: 13.5px;
  }
}

@media (max-width: 400px) {
  input::-webkit-input-placeholder {
    font-size: 13px;
  }
  input::-moz-placeholder {
    font-size: 13px;
  }
  input:-ms-input-placeholder {
    font-size: 13px;
  }
  input::-ms-input-placeholder {
    font-size: 13px;
  }
  input::placeholder {
    font-size: 13px;
  }
  .localWeatherReport h1,
  .seaForecastReport h1 {
    font-size: 14px;
  }

  .activeContentRight h2 {
    font-size: 18px;
  }

  .activeContentRight h4 {
    font-size: 13px;
  }
  .activeContentRight h3 {
    font-size: 16px;
  }
  .weatherFiveDaysContainer h2 {
    font-size: 12px;
  }

  .seaForecastReport ul li {
    font-size: 12px;
  }
  .about h6 {
    font-size: 20px;
  }
  .about {
    height: 90px;
  }
  .about h5 {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .about h6 {
    font-size: 17px;
  }
  .about h5 {
    font-size: 12px;
  }
  .welcome {
    font-size: 20px;
  }
  .localWeatherReport h1,
  .seaForecastReport h1 {
    font-size: 12px;
  }

  .activeContentRight h2 {
    font-size: 16px;
  }

  .activeContentRight h4 {
    font-size: 12px;
  }

  .activeContentRight h3 {
    font-size: 14px;
  }
  .seaForecastReport ul li {
    font-size: 10.5px;
  }

  .weatherFiveDaysContainer h2 {
    font-size: 10.5px;
  }
}
