.spinner {
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  left: 44%;
  top: 43%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;

  -webkit-animation: spinner 2s linear infinite; /* Safari */
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg) translate(0%, 0%);
  }
  to {
    transform: rotate(360deg) translate(0%, 0%);
  }
}
